
<div class="container">
  <app-quiz></app-quiz>
  <h3>
    My content 
  </h3>
  <p>
    PureText is a tiny tray utility that removes all text formatting from your clipboard and optionally pastes the resulting pure text to the active window with a single hotkey.
  </p>
  <p>
    Have you ever copied some text from a web page or Word document, and wanted to paste it as plain text into another application without getting all the formatting from the original source? PureText makes this simple. Just copy/cut whatever you want to the clipboard, click on the PureText tray icon, and then paste to any application. Better yet, you can configure a PureText Hotkey to convert and paste the text for you. The pasted text will be pure and free from all formatting.
  </p>
  
  <div *ngIf="isVisible">
    <p>
      After running PureText, you will see a "PT" icon appear near the clock on your task bar. You can click on this icon to remove formatting from the text that is currently on the clipboard. You can right-click on the icon to display a menu with more options.
      </p>
      
      <p>
        The easiest way to use PureText is to simply use its Hotkey to paste text instead of using the standard CTRL+V Hotkey that is built into most Windows applications. To configure PureText, right-click on its tray icon and choose "Options" from the pop-up menu. The default Hotkey is WINDOWS+V, but this can be changed. In this Options window, you can also configure PureText to run each time you start Windows.
      </p>
  </div>
  
  <button class="btn-default" (click)="toggle()">More Info</button>
</div>

