/* You can add global styles to this file, and also import other style files */
html, body, * {
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.radio { padding: 5px 0; }

.text-capitalize { text-transform: capitalize }

